<div>
  <h1>@post.name</h1>
</div>

<form method="post" action="/posts/<%= params[:id] >">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="delete">
</form> 